header {
    width: 100%;
    height: 200px;
    background: url('./sunset.png');
    background-size: cover;
    color:white;
    text-align: center;
    padding: 45px 0;
    }
  
  .btn {
    margin-left: 20px;
  }
  
  .carousel {
    margin-top: 20px;
  }
  
  .white-text{
    text-align: center;
  }
  